@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/container-queries';

@theme {
  --font-sans: Overpass, sans-serif;
  --font-mono: Overpass Mono, monospace;

  --color-primary: rgb(var(--custom-primary));
  --color-dark: rgb(var(--custom-dark));
  --color-light: rgb(var(--custom-light));
  --color-success: rgb(var(--custom-success));
  --color-danger: rgb(var(--custom-danger));
  --color-warning: rgb(var(--custom-warning));
  --color-info: rgb(var(--custom-info));
  --color-pale: rgb(var(--custom-pale));
  --color-mild: rgb(var(--custom-mild));
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: rgb(var(--custom-default-border));
  }
} */

@font-face {
  font-family: 'Overpass';
  src: url('$lib/assets/fonts/overpass.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass Mono';
  src: url('$lib/assets/fonts/overpass-mono.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass Italic';
  src: url('$lib/assets/fonts/overpass-italic.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.4);
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #4250afad;
  border-radius: 16px;
}

:root {
  /* light */
  --custom-primary: 66 80 175;
  --custom-light: 255 255 255;
  --custom-dark: 58 58 58;
  --custom-pale: 246 246 244;
  --custom-success: 34 197 94;
  --custom-danger: 180 0 0;
  --custom-warning: 255 170 0;
  --custom-info: 14 165 233;
  --custom-mild: 229 231 235;
}

.dark {
  /* dark */
  --custom-primary: 172 203 250;
  --custom-light: 0 0 0;
  --custom-dark: 229 231 235;
  --custom-pale: 33 33 33;
  --custom-success: 56 142 60;
  --custom-danger: 239 68 68;
  --custom-warning: 255 170 0;
  --custom-info: 14 165 233;
  --custom-mild: 58 58 58;
}
